.Projects {
  display: flex;
  flex-direction: column;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.Projects .Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: auto;
}

.Projects .previewContainer {
  height: 100vh;
}

.Projects .Container {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #8080800d;
  display: grid;
  align-content: space-around;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  grid-gap: 40px;
  justify-content: center;
}

.Projects .filterButtons {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.Projects .filterButtons button {
  width: 170px;
  height: 40px;
  margin-right: 2px;
  padding: 0 20px 0 20px;
  border: none;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 5px;
}

@media (max-width: 1000px) and (min-width: 801px) {
  .Projects .Container {
    grid-template-columns: 200px 200px 200px;
  }
}

@media (max-width: 800px) and (min-width: 601px)  {
  .Projects .Container {
    grid-template-columns: 200px 200px;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .Projects .previewContainer {
    height: auto;
  }

  .Projects .Container {
    grid-template-columns: 200px;
    width: 100%;
  }

  .Projects .Header {
    margin-bottom: 3vh;
  }

  .Projects .navigationBar {
    width: 80%;
    align-items: center;
  }
}
