.Projects {
  display: flex;
  flex-direction: column;
}

.Projects h1 {
    font-family: Calibri;
    color: #f3aea1;
    letter-spacing: 2px;
}

.Projects .Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  background: #247339;
  margin: auto;
  border-radius: 0% 0% 50% 50%;
}

.Projects .Container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Projects .ProjectCard {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  width: 80%;
  height: auto;
  background-color: grey;
}
