.Projects {
  display: flex;
  flex-direction: column;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.Projects h1 {
    font-family: Calibri;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

.Projects .Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  margin: auto;
}

.Projects .Container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1000px) and (min-width: 801px) {
  .Projects .Container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) and (min-width: 601px)  {
  .Projects .Container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .Projects .Container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .Projects .Header {
    margin-bottom: 3vh;
  }

  .Projects .navigationBar {
    width: 80%;
    align-items: center;
  }
}
