.textileHeader {
  position: fixed;
  width: 100vw;
  height: 50px;
  padding-left: 50px;
}

.textileHeader h1 {
  font-size: 19px;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

.textileHeader h1:hover {
  font-style: italic;
}
