.textileHeader {
  position: fixed;
  width: 15vw;
  text-align: center;
}

.textileHeader h1 {
  font-size: 19px;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

@media (max-width: 600px) and (min-width: 0px)  {
  .textileHeader {
    position: fixed;
    width: 100vw;
    padding: 0;
  }
}
