.home {
  width: 100%;
  height: 100vh;
}

.home #footer {
  font-family: arial;
  font-size: 12px;
  font-weight: lighter;
  color: #9a9a9a;
}

.home .homeFoot {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #d9daffad;
}

.home a {
  color: #0f2581;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 2px;
}

.home .Hero {
  width: 100%;
  height: 100%;
  background-color: #d9daffad;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home .firstColumn {
  overflow: hidden;
  text-align: center;
  position: relative;
  background-color: #f4cfc4;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  transition:
    width 1s ease-in-out,
    height 1s ease-in-out,
    border-radius 1s ease-in;
}

.home .firstColumn img {
  width: 100%;
  z-index: 0;
  transition: opacity 0.5s ease 2s;
}

.home .firstColumn .textileLinkHolder {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  z-index: 10; /* So the transition of the image doesn't affect text */
}

.home .secondColumn {
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #247339;
  border-radius: 50%;
  transition:
    width 1s ease-in-out,
    height 1s ease-in-out;
}

.home .secondColumn a {
  color: #f3aea1;
}

.home .About {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffc107;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    width 1s ease-in-out,
    height 1s ease-in-out,
    border-radius 1s ease-in-out;
}

.home .About a {
  color: red;
}

.home .firstColumn:hover {
  width: 60vh;
  height: 80vh;
  border-radius: 0%;
}
.home .secondColumn:hover {
  width: 40vw;
  height: 40vw;
}
.home .About:hover {
  width: 200px;
  height: 400px;
  border-radius: 50% 50% 5% 5%;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .home .Hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .home .firstColumn {
    width: 100%;
    height: 33%;
    border-radius: 0%;
  }
  .home .firstColumn:hover {
    width: 100%;
    height: 33%;
    border-radius: 0%;
  }
  .home .secondColumn {
    width: 100%;
    height: 33%;
    border-radius: 0%;
  }
  .home .secondColumn:hover {
    width: 100%;
    height: 33%;
  }
  .home .About {
    width: 200px;
    height: 200px;
  }
  .home .About:hover {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {

  .home .firstColumn {
    width: 43vh;
    height: 43vh;
  }
  .home a {
    font-size: 30px;
  }
  .home .secondColumn {
    width: 40vh;
    height: 40vh;
  }
  .home .secondColumn:hover {
    width: 50vh;
    height: 50vh;
  }
  .home .About {
    width: 100px;
    height: 100px;
  }
  .home .About:hover {
    width: 150px;
    height: 200px;
  }
}
