.ProjectPage {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.ProjectPage .imageCard {
  width: 60%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.ProjectPage .descriptionBox {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 24px;
  line-height: 1.5em;
}

.ProjectPage a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
}
