.ProjectPage {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.ProjectPage .imageCard {
  width: 50%;
  height: 400px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ProjectPage .descriptionBox {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  line-height: 1.5em;
}

.ProjectPage .linkHolder {
  display: flex;
  flex-direction: column;
}

.ProjectPage a {
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  color: #0000b7;
}

.ProjectPage h4 {
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 900px) and (min-width: 601px) {
  .ProjectPage {
    width: 90%;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .ProjectPage {
    margin-top: 20px;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
  }
  .ProjectPage .descriptionBox  {
    width: 100%;
    height: 50%;
    font-size: 14px;
    justify-content: space-between;
  }
  .ProjectPage .imageCard  {
    width: 100%;
    height: 30%;
    background-position: center;
    margin: 0;
  }
}
