.card-wrapper {
  /* perspective: 1000px; */
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: white;
  overflow: hidden;
}

.card-wrapper h2 {
  display: none;
  position: absolute;
  text-decoration: none;
  color: black;
  margin: 0px;
}

.card-wrapper:hover h2 {
  display: block;
}

.card-wrapper:hover {
  background: #c5c5c5;
}

.card-wrapper:hover img {
  opacity: 0.5;
}

.card-wrapper img {
  width: 200px;
  margin: auto;
}
