.card-wrapper {
  perspective:800px;
}

.projectCard {
  margin: 10px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: transform 1.5s; /* Safari and Chrome */
  transition: transform 1.5s;
  transform-style:preserve-3d;
}

.projectCard .front {
  border-radius: 50%;
  border-style: outset;
  border-width: 1px;
  border-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* background-color: white;
  border-radius: 50%;
  border-style: outset;
  border-width: 1px;
  border-color: red; */
}

.projectCard:hover {
  -ms-transform: rotateY(-180deg); /* IE 9 */
  -webkit-transform: rotateY(-180deg); /* Safari Chrome */
  transform: rotateY(-180deg);
}

.projectCard h2 {
  font-size: 18px;
  font-family: Calibri;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.projectCard p {
  font-family: Calibri;
  text-decoration: none;
  margin: 5px;
  color: black;
}

.projectCard .back {
  border-radius: 50%;
  border-style: outset;
  border-width: 1px;
  border-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -ms-transform: rotateY(-180deg); /* IE 9 */
  -webkit-transform: rotateY(-180deg); /* Safari */
  transform: rotateY(-180deg);
}
