.card-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-wrapper h2 {
  display: none;
  position: absolute;
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 0;
  padding: 6px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-wrapper:hover h2 {
  display: block;
}

.card-wrapper:hover img {
  opacity: 0.5;
}

.card-wrapper:hover {
    background-color: white;
}

.card-wrapper img {
  width: 100%;
  margin-top: 0;
}
