.textilePage {
  width: 100vw;
  margin: 0;
  min-height: 100vh;
}

.textilePage .columnBox {
  width: 80vw;
  box-sizing: border-box;
  float: right;
  margin: auto;
  margin-right: 50px;
  margin-top: 10px;
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  column-gap: 3px;
}

.textilePage .columnBox a {
  margin: 0px;
}

.textilePage .columnBox .imageCard {
  width: 100%;
  background: radial-gradient(circle, white, #ffc0c094, white, white, white);
}

.columnBox img {
  max-width: 100%;
  max-height: 100%;
  transition: opacity 1s ease 2s;
}

@media (max-width: 900px) and (min-width: 601px) {

  .textilePage .columnBox {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

@media (max-width: 600px) and (min-width: 0px)  {

  .textilePage .columnBox {
    width: 100vw;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    margin: auto;
  }
}
