.TextilePage {
  width: 90vw;
  height: 100vh;
  margin: auto;
  margin-top: 100px;
  -webkit-column-count: 5; /* Chrome, Safari, Opera */
  -moz-column-count: 5; /* Firefox */
  column-count: 5;
  column-gap: 0px;
}

.TextilePage a {
  margin: 0px;
}

.TextilePage .marginTop {
  width: 100vw;
  margin-bottom: 100px;
}

.TextilePage .imageCard {
  width: 100%;
  padding-left: 3px;
}

.TextilePage img {
  max-width: 100%;
  max-height: 100%;
}
