.TextilePage {
  width: 100vw;
  height: 100%;
  background-color: #f7b6b2;
}

.TextilePage .imageGrid {
  width: 80vw;
  margin: auto;
}

.TextilePage img {
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
