.TextilePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.TextilePage .gif {
  width: 50%;
  height: 300px;
  margin: auto;
  background-image: url("Untitled1.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
