@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 25%}
    25%{background-position:0% 50%}
    50%{background-position:100% 100%}
    70%{background-position:100% 50%}
    100%{background-position:0% 25%}
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

.welcomePage {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(140deg, #f0c1c1, #eaabab, #e18a8a, #e47878);
  background-size: 1000% 1000%;
  animation: gradientAnimation 20s ease infinite;
  -webkit-animation: gradientAnimation 20s ease infinite;
  -moz-animation: gradientAnimation 20s ease infinite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomePage .messageBox {
  width: 60%;
  text-align: center;
}

.welcomePage .messageBox h1 {
  letter-spacing: 4px;
  font-size: 75px;
  color: #ffc107;
  margin: 0;
}

.welcomePage .messageBox p {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
}

.welcomePage .arrowBox {
  margin-top: 200px;
  -webkit-animation: jump 2s ease-in 0s infinite normal;
  animation: jump 2s ease-in 0s infinite normal;
}

.arrowDown {
  border-style: solid;
  border-width: 0.30em 0.30em 0 0;
  display: inline-block;
  height: 40px;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 40px;
  transform: rotate(135deg);
}
